/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.header-admin-edition {
	display: flex;
	max-width: 1440px;
	width: 100%;
	background-color: black;
	height: 60px;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

body {
	max-width: 1400px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}



.header-admin-edition p {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

.header-admin-edition button {
	background-color: white;
	border-radius: 60px;
	height: 35px;
	width: 210px;
	border: none;
	font-size: 14px;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

 nav a {
	text-decoration: none;
	color: black;
 }

.instagram-link {
	width: 19px;
	height: 19px;
 }

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

.presentation-txt p{
	max-width: 425px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction figcaption {
	width: 80%;
	margin: auto;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/* Section style de la modal1 */

.modal, .modal2 { 
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.js-close-modal {
	background-color: white;
	border: none;
	float: right;
}

.back {
	background-color: #fff;
	border: none;
}

.fa-xmark {
	width: 20px;
	height: 20px;
}

#modal-title {
	padding-top: 30px;
	padding-bottom: 20px;
}
.modal-wrapper {
	overflow: auto;
	margin: auto;
	margin-top: 350px;
	width: 630px;
	height: 730px;
	padding: 25px;
	background-color: #fff;
	border-radius: 10px;
}

.modal-text-style {
	display: flex;
	justify-content: center;
	padding: 30px;
	align-items: baseline;
}

.modal-text-style a {
	text-decoration: none;
	color: black;
}

.modal-btn-add-photo, .modal-btn-valid {
	display: flex;
	margin: auto;
	font-family: 'Syne';
	font-weight: 700;
	align-items: center;
	font-size: 14px;
	height: 36px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 60px;
	margin-top: 45px;
	border: solid 2px #1D6154;
	color: white;
	background-color: #1D6154;
}
/* Positionnement des Trash can */ 
.modal-gallery figure {
	position: relative;
}
.fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
}

.modal-delete-gallery {
	display: flex;
	margin: auto;
	font-family: 'Syne';
	font-weight: 700;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	background-color: #fff;
	color:#D65353;
	border: none;
}

.modal-gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 80px;
	margin-right: 80px;
	gap: 7px;
	padding-bottom: 60px;
	border-bottom: 1px solid #b3b3b3;
}

.modal-gallery figure img {
	width: 100%;
	height: 110px;
}

/* Style modal 2 */ 
.modal-add {
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 420px;
	height: 170px;
	background-color: #E8f1f6;
	border-radius: 3px;
	padding: 25px;
	text-align: center;
	margin: auto;
  }

#file-input {
	display: flex;
	align-self: center;
	background-color: #cbd6dc;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	width: 175px;
	height: 35px;
	border-radius: 50px;
}

.filter {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}

input[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: solid 2px #1D6154;
}

input[type="button"]:focus {
	color: white;
	background-color: #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	max-width: 950px;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 15px;
	justify-content: space-between;
}

.gallery img {
	width: 100%;
	max-width: 310px;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}

footer nav ul {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

footer {
	background-color: #fff;
}

footer nav {
	padding: 20px 50px 20px 0;
}


.here {
	font-weight: 700;
}

.login-style {
	align-items: center;
    display: flex;
    flex-direction: column;
}

.login-form {
	display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 30%;
}

.login-mail, .login-password {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-mail {
	margin-bottom: 35px;
}

.login-form label {
	margin-bottom: 5px;
}

.forgot-password {
	align-self: center;
	color: black;
}